.products{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 40px;
  gap:40px;
  background:none;
  justify-content:space-around;
   
  
}

.card{
  width: 280px;
  text-align: center;
  margin-bottom: 40px;
 
}

 .card img{
  width: 100%;
  /* border: 6px solid white;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.3); */
 } 

.card h4{
  font-size:16px;
  margin-top:19px;
  font-weight:500;
}

.price{
  margin:10px 0;
}

button{
  width:100%;
  padding:14px;
  margin-top:10px;
  font-size:14px;
  letter-spacing:2px;
  cursor:pointer;
}

.add{
  background:white;
  border:1px solid black; 
}

.btn:hover .add{
  background-color:black;
  color:white;
}

.buy{
  background:black;
  color:white;
  border:none;
}

.img-box{
  position: relative;
}

.img-box img{
  width: 100%;
}
.heart-icon{
  position: absolute;
  top: 10px;
  right: -20px;
  font-size: 26px;
  cursor: pointer;
  padding: 6px;
  background: white;
  border-radius: 50%;
  transition: 0.3s;
}

.heart-icon:hover{
  transform: scale(1.2);
}
.wishlist-btn{
  margin-top: 10px;
  padding: 8px 14px;
  background: white;
  color:black ;
  cursor: pointer;
  border-radius: 4px;
}

.wishlist-btn:hover{
  color: white;
  background:black;
}